@{
    ViewBag.Title = "Datos";
}

<body>
    <div class="migas">
        <ol class="breadcrumb">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Pagina 2</a></li>
            <li class="active">Pagina 3</li>
            <button class="mostrar-todo pull-right visible-xs visible-sm" onclick="OcultarContenido()">ocultar</button>
        </ol>
    </div>
    <div id="contenido">
        <article class="post clearfix">
            <a href="#" class="Contenedor-Imagen pull-left">
                <img src="http://assets2.sportsnet.ca/wp-content/uploads/2016/11/romero_yoel-1040x572.jpg">
            </a>
            <h2 class="post-title"><a>Yoel Romero el tipo que esta dando la verdadera para en las MMA</a></h2>
            <p><span class="post-fecha">15 de julio 2006</span>  por <span class="post-autor"><a href="#">Fulano de tal.</a></span></p>
            <p class="post-contenido text-justify">
                yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.
            </p>
            <div class="Contenedor-botones">
                <a href="#" class="btn btn-primary">Boton</a>
            </div>
        </article><hr>
        <article class="post clearfix">
            <a href="#" class="Contenedor-Imagen pull-left">
                <img src="http://assets2.sportsnet.ca/wp-content/uploads/2016/11/romero_yoel-1040x572.jpg">
            </a>
            <h2 class="post-title"><a>Yoel Romero el tipo que esta dando la verdadera para en las MMA</a></h2>
            <p><span class="post-fecha">15 de julio 2006</span>  por <span class="post-autor"><a href="#">Fulano de tal.</a></span></p>
            <p class="post-contenido text-justify">
                yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.
            </p>
            <div class="Contenedor-botones">
                <a href="#" class="btn btn-primary">Boton</a>
            </div>
        </article><hr>
        <article class="post clearfix">
            <a href="#" class="Contenedor-Imagen pull-left">
                <img src="http://assets2.sportsnet.ca/wp-content/uploads/2016/11/romero_yoel-1040x572.jpg">
            </a>
            <h2 class="post-title"><a>Yoel Romero el tipo que esta dando la verdadera para en las MMA</a></h2>
            <p><span class="post-fecha">15 de julio 2006</span>  por <span class="post-autor"><a href="#">Fulano de tal.</a></span></p>
            <p class="post-contenido text-justify">
                yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.
            </p>
            <div class="Contenedor-botones">
                <a href="#" class="btn btn-primary">Boton</a>
            </div>
        </article><hr>
    </div>
</body>