@{
    
}

<body>
    <div>
        <div>
            <div class="panel panel-primary" style=" margin-top:1cm;">
                <div class="panel-heading">
                    <div class="panel-title text-center">El titulo</div>
                </div>
                <div class="panel-body">
                    <form action="Persona/Persona" method="post">
                        <div class="">
                            <label class="label label-primary">Edad:</label><input type="text" class="form-control" name="edad"><br>
                            <label class="label label-primary">Nombre:</label><input type="text" class="form-control" name="nombre"><br>
                            <label class="label label-primary">Apellido:</label><input type="text" class="form-control" name="apellido"><hr>
                            <button type="submit" class="btn btn-primary pull-right">Enter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
