@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="dodgerblue">
            <h2 class="text-center">dodgerblue</h2>
        </div><br>
        <div class="lawngreen">
            <h2 class="text-center">lawngreen</h2>
        </div><br>
        <div class="yellow">
            <h2 class="text-center">yellow</h2>
        </div><br>
        <div class="forestgreen">
            <h2 class="text-center">forestgreen</h2>
        </div><br>
        <div class="lightseagreen">
            <h2 class="text-center">lightseagreen</h2>
        </div><br>
        <div class="lightskyblue">
            <h2 class="text-center">lightskyblue</h2>
        </div><br>
        <div class="lightsteelblue">
            <h2 class="text-center">lightsteelblue</h2>
        </div><br>
        <div class="mediumslateblue">
            <h2 class="text-center">mediumslateblue</h2>
        </div><br>
        <div class="mediumorchid">
            <h2 class="text-center">mediumorchid</h2>
        </div><br>
        <div class="mediumturquoise">
            <h2 class="text-center">mediumturquoise</h2>
        </div><br>
        <div class="mediumblue">
            <h2 class="text-center">mediumblue</h2>
        </div><br>
        <div class="midnightblue">
            <h2 class="text-center">midnightblue</h2>
        </div><br>
        <div class="paleturquoise">
            <h2 class="text-center">paleturquoise</h2>
        </div><br>
        <div class="powderblue">
            <h2 class="text-center">powderblue</h2>
        </div><br>
        <div class="skyblue">
            <h2 class="text-center">skyblue</h2>
        </div><br>
        <div class="slateblue">
            <h2 class="text-center">slateblue</h2>
        </div><br>
        <div class="royalblue">
            <h2 class="text-center">royalblue</h2>
        </div><br>
        <div class="navy">
            <h2 class="text-center">navy</h2>
        </div><br>
        <div class="purple">
            <h2 class="text-center">purple</h2>
        </div><br>
        <div class="orchid">
            <h2 class="text-center">orchid</h2>
        </div><br>
        <div class="plum">
            <h2 class="text-center">plum</h2>
        </div><br>
    </div>
</body>
</html>
