@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mensaje</title>
</head>
<body>
    <div>
        <h2>Wey mi pana! Ocurrio un error</h2>
        <a href="../">Volver a la pagina</a>
    </div>
</body>
</html>
