@model NuevaAplicacionMVC.Models.Persona

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div>
        <label>El nombre es: @Model.nombre</label><br>
        <label>El apellido es: @Model.apellido</label><br>
        <label>La Edad es: @Model.edad</label>
    </div>
</body>
</html>
