<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            @RenderSection("featured", required: false)
            <h2>Esto esta antes del Layout</h2><br>
            @RenderBody()
            <br><h2>Esto esta despues del Layout</h2>
        </div>
    </div>
</body>
</html>
