/*===========================================-----Latout-----=================================================*/

body {
    background-color:rgb(0, 0, 77);
    background-attachment:fixed;
    background-repeat:no-repeat;
}

.ancho-7 {
    width: 58.33333%;
    position: relative;
    padding-left: 15px;
    min-height: 1px;
    padding-right: 15px;
}

.ancho-2 {
    width: 16.66667%;
    float:left;
}
.ancho-3 {
    width: 25%;
    float:left;
}

.navbar{
	border-radius:0px;
    margin-bottom:10px;
}

.letra1 {
	font-size: 28px;
	color:CornflowerBlue;
}

.letra2 {
	font-size: 20px;
	color:DarkGrey ;
}

header {
    margin-top:70px;
}

.body {
    width:90%;
}
.row {
    background-color:white;
    padding-top:10px;
}

/*.contenido-izquierdo {
    background-color:rgb(26, 26, 26);
    margin-bottom:200px;
    border-top:20px solid rgb(26, 26, 26);
    border-bottom:1000px solid rgb(26, 26, 26);
    padding-bottom:100%;
}
*/

.contenido{
}

.contenido-derecho {
    
}

.contenedor-anuncio {
    width:100%;
    height:200px;
}
.anuncio-pagina {
    width:100%;
    height:100%;
}

.reciente{
    text-align: center;
    font-weight:500;
    letter-spacing: 5px;
    color: dodgerblue;
    background: rgba(0, 0, 0, 0.70);
    padding: 15px 0;
    font-size: 120%;
}

.cuerpo {
    background-color: white;
    clear: both;
    max-width: 1300px;
    margin: 0 auto;
    border-width:5px;
}

/*=====================================---Index---======================================*/
.contenido {
    margin-left:5px;
}

.mostrar-todo {
	background-color:transparent ;
	padding:0;
	border: 0;
	color:dodgerblue;
}

.paginacion-articulo {
    background-color:rgb(26, 26, 26);
}

.migas .breadcrumb .pagina-actual {
    color:white;
}

.Contenedor-Imagen {
	margin-right:10px;
	width:30%;
	border-color: whitesmoke;
    border-style:solid;
    border-width:3px;
}

.Contenedor-Imagen img{
	width:100%;
}

.post-title-inicio {   
    font-size: 1.5em;
    font-weight:800;
    margin-top:0;
}
/*==========================---Index Fin---=============================*/
.paginacion{
    background-color:white ;
    /*background-image: url("http://www.adamelliot.com.au/ewExternalFiles/Website%20Background.jpg");*/
    margin: 0 auto;
}

.pagination {
    border:2px solid rgb(51, 122, 183);
}

.fijado {
    position:fixed;
}

.Sobre-El-footer {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}
footer {
    background-color: rgb(0, 0, 26);
    color: white;
    height:50px;
    padding-top:15px;
    padding-bottom:10px;
}
/*====-----Latout Fin-----====*/

/*=======================---Articulo Post---====================*/

/*=======================---Crear articulo---====================*/
.id-autor-fecha-container {
    display:flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.id-autor-fecha-container .id{
    width:50%;
}
.id-autor-fecha-container .autor {
    width:50%;
}
.id-autor-fecha-container .fecha {
    width:50%;
}

.id-autor-fecha-container + .titulo {
    margin-bottom:0px;
}
.text-area {
    resize:none;
}
/*=======================---Crear articulo---====================*/

.articulo {
    width:100%;
    height:100%;
}


.contenedor-imagen-posteada {
    border-style:solid;
    border-color:whitesmoke;
    margin:auto;
    width:85%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat:no-repeat;
}
.h4{
    text-align: center;
    margin: 13.3em 5px 0.1em 0;
    margin-right:0;
    font-weight:900;
    font-size:22px;
    letter-spacing: 2.5px;
	color: dodgerblue;
	text-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    border-bottom:solid;
    border-bottom-color:black;
}

.contenido-articulo {
    width:95%;
    margin: auto;
}

.post-articulo {
    font-family:courier;
}

.contenido-articulo iframe {
    width:80%;
}

.hr {
    border:1px solid Gainsboro ;
}

/*==Comentarios==*/
.comentario-articulo {
    width:100%;
    height:auto;
    /*border:1px solid red;*/
}

.comentar {
    width:100%;
}

.contenedor {
	padding-top: 5px;
	padding-bottom:5px;
	width:95%;
	height:85px;
	border:2px;
	border-top:1px;
	border-left:1px;
	padding-left:10px;
	border-style:solid;
	border-color:black ;
	border-radius:5px;
	padding-right:3px;
    margin:auto;
}

.theinput-2 {
	width:80%;
	border:2px;
}

.boton-2 {
    border: unset;
	width:20%;
	height:100%;
	background:transparent;
	filter:brightness(130%);
}

.boton-2:active {
	border:1px;
	border-bottom-style:solid;
	border-right-style:solid;
	border-bottom-color:LightSteelBlue;
	border-right-color:LightSteelBlue;
	filter:unset;
}
.comentarios {
    height:500px;
    background-color:whitesmoke;
}

/*================Registro=========================*/

.titulo-registro {
    background-color:rgb(51, 122, 183);
    border-radius:6px;
}
.contenido-registro {
    width:50%;
    margin:auto;
}

.panel-tipo {
    margin:auto;
}
.formulario-text {
    border-style:solid;
    border-radius:5px;
    border-color:black ;
}

/*=========================------FORO----===================================*/


    .media {
        position:relative;
        max-height:150px;
	    overflow:hidden;
        border:1px;
        border-style:solid;
        border-color:whitesmoke;
    }

    .media:hover {
        background-color:whitesmoke;
    }
   
    .Contenedor-Imagen-foro {
	    margin-right:10px;
        height: 150px;
        width: 200px;
        float: left;
    }
    .Contenedor-Imagen-foro img{
        height: 100%;
        width: 100%;
    }

    .texto {
        padding: 10px;
    }
    
    .post-title-foro {   
        font-size: 1.5em;
        font-weight:800;
        margin-top: 2px;
        color:dodgerblue;
        display:unset;
    }

    .destacar {
        color:dodgerblue;
        float:right;
    }

    .foro-contenido {
        margin: auto;
    }
    .link-foro {
        width:100%;
        height:100%;
	    bottom:0;
        left:0;
	    position:absolute;
	    right:0;
	    top:0
    }
@media screen and (max-width:900px){
/*==========================Layout==========================*/
    .body {
        width:100%;
    }

    .ancho-7 {
        width:100%;
        padding-left: unset;
        padding-right: unset;
    }
	article img {
		height:200px; 
		width:100%;
	}
/*=================================Index=================*/
	.post .Contenedor-Imagen {
		margin-right:auto;
		width:auto;
	}

    .contenedor-imagen-posteada img{
        width:100%;
        margin:auto;
    }
/*======================articulo posteado==============*/
    .comentar form input{
        width:80%;
    }

    .contenedor-imagen-posteada {
        width:100%;
    }

    .comentar form button{
        width:20%;
    }

    .datos-comentario {
        width:100%;
        border:1px solid red;
    }

/*================Registro=========================*/
    .contenido-registro {
        width:100%;
        margin:auto;
    }
    /*=====---FORO----====================*/
    
    .media {
        max-height:unset;
    }
    .Contenedor-Imagen-foro {
        width: 100%;
        height: 20%;
        float: unset;
    }
}
@media (min-width: 992px) {
    .ancho-7 {
        float:left;
    }
}