@{
    ViewBag.Title = "ArticuloPosteado";
}

<div class="migas">
    <ol class="breadcrumb paginacion-articulo">
        <li><small >@Html.ActionLink("Inicio", "index", "Home")</small></li>
        <li><small>@Html.ActionLink("Noticias", "index", "Home")</small></li>
        <li class="active pagina-actual">Articulo</li>
    </ol>
</div>
<div id="contenido-post">
    <article class="clear-fix articulo">
        <div class="contenedor-imagen-posteada ">
            <div class="imagen-posteada">
                <h3 class="h4">Yoel Romero el tipo que esta dando la verdadera para en las MMA</h3>
            </div>
                <!--<img src="http://assets2.sportsnet.ca/wp-content/uploads/2016/11/romero_yoel-1040x572.jpg">-->
            </div>
        <span class="glyphicon" style="margin-left:2px;">&#xe105; 5257</span><hr>
        <div class="contenido-articulo">
            <p class="post-articulo">
                yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero. <br>

                yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.  yoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero yoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero
                yoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romeroyoel romero Yoel Romero,yoel romero Yoel Romero. Yoel
                Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero yoel romero Yoel Romero.
            </p>
        </div>
    </article><hr class="hr">
    <div class="comentario-articulo">
        <div class="contenedor" for="inputTexto">
            <input id="inputTexto" class="theinput-2" style=""><button class="boton-2">env</button>
        </div><hr>
        <h2 class="comentarios-titulo">Comentarios</h2>
        <div class="comentarios">
        </div>
    </div>
</div>
