@{
    ViewBag.Title = "Foro";
}

<h2>Foro</h2>
<div class="">
    <div class="foro-elemento" >
        <div class="foro-contenedor-imagen-contenido" >
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>Edgar finaliza a Mendes en el primero 
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero 
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero 
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="foro-elemento">
        <div class="foro-contenedor-imagen-contenido">
            <div class="foro-contenedor-imagen">
                <img src="http://static.forosdelweb.com/customavatars/avatar223731_3.gif">
            </div>
            <div class="foro-contenedor-contenido pull-left">
                <a href="#">
                    <div class="foro-contenido-titulo">
                        <small class="foro-contenido-titulo-letra">Edgar finaliza a Mendes en el primero.</small>
                    </div>
                </a>
                <div class="foro-contenido-articulo">
                    <small>
                        Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                        Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero Edgar finaliza a Mendes en el primero
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>